neofetch/config.conf
session/dolphin_dolphin_dolphin
kde.org/UserFeedback.org.kde.dolphin.conf
mimeapps.list
kdeglobals
dolphinrc
arkrc
Code - OSS/
dconf/
xfce4/
user-dirs.locale
gtk-3.0/
xsettingsd/
Thunar/
user-dirs.dirs
go/
qBittorrent/
font-manager/
fontconfig/
QtProject.conf
KDE/
kde.org/
kdedefaults/
libaccounts-glib/
menus/
session/
UNDERTALE_linux/
vlc/
baloofilerc
bluedevilglobalrc
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcninputrc
kconf_updaterc
kded5rc
kglobalshhortcutsrc
ksmserverrc
ktimezonedrc
kwinrc
pavucontrol.ini
PlasmaDiscoverUpdates
kcminputrc
kglobalshortcutsrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
QtProject.conf
plasmashellrc
plasma-welcomerc
powermanagementprofilesrc
gtk-4.0/
Trolltech.conf
QtProject.conf
QtProject.conf
