neofetch/config.conf
session/dolphin_dolphin_dolphin
kde.org/UserFeedback.org.kde.dolphin.conf
mimeapps.list
kdeglobals
dolphinrc
arkrc
Code - OSS/
dconf/
xfce4/
user-dirs.locale
gtk-3.0/
xsettingsd/
Thunar/
user-dirs.dirs
go/
qBittorrent/
font-manager/
fontconfig/
QtProject.conf
