@import "../../.cache/hellwal/colors-waybar.css";

@define-color backgroundlight @color10;
@define-color backgroundcolor transparent;
@define-color backgrounddark @color5;
@define-color workspacesbackground1 @color14;
@define-color workspacesbackground2 @color14;
@define-color bordercolor @color14;
@define-color textcolor1 @color15;
@define-color textcolor2 @color0;
@define-color iconcolor @color15;

* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  background-image: none;
  transition: 20ms;
  box-shadow: none;
  font-weight: bold;
}

window {
  background: transparent;
  background-size: cover;
}
/* 
button {
  color: #ffffff;
  font-size: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;

  border-style: solid;
  background-color: rgba(12, 12, 12, 0.3);
  border: 3px solid #ffffff;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
  color: @color11;
  background-color: rgba(0, 255, 255, 0.5);
  border: 3px solid @color11;
   
}
  */
button {
  color: @textcolor1;
  background-color: @workspacesbackground2;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
  border: solid 3px #ffffff;
  opacity: 0.6;
}

button:focus {
  background-color: @color1;
  background-size: 30%;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
  opacity: 1;
}

button:hover {
  background-color: @color1;
  background-size: 30%;
  border-radius: 5px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
  /* padding: 10px; */
  opacity: 1;
}
/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/lock.png"));
}

#logout {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/logout.png"));
}

#suspend {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/reboot.png"));
}
/* #lock:hover,
#logout:hover,
#shutdown:hover,
#reboot:hover,
#suspend:hover,
#hibernate:hover {
  color: @color11;
  background-color: rgba(0, 255, 255, 0.5);
  border: 3px solid @color11;
  background-size: 30%;
} */
