#custom-mediaplayer.perc0-0 {
  background-image: linear-gradient(
    to right,
    @color5 0%,
    rgba(0, 255, 255, 0) 0.1%
  );
}
#custom-mediaplayer.perc1-0 {
  background-image: linear-gradient(
    to right,
    @color5 1%,
    rgba(0, 255, 255, 0) 1.1%
  );
}
#custom-mediaplayer.perc2-0 {
  background-image: linear-gradient(
    to right,
    @color5 2%,
    rgba(0, 255, 255, 0) 2.1%
  );
}
#custom-mediaplayer.perc3-0 {
  background-image: linear-gradient(
    to right,
    @color5 3%,
    rgba(0, 255, 255, 0) 3.1%
  );
}
#custom-mediaplayer.perc4-0 {
  background-image: linear-gradient(
    to right,
    @color5 4%,
    rgba(0, 255, 255, 0) 4.1%
  );
}
#custom-mediaplayer.perc5-0 {
  background-image: linear-gradient(
    to right,
    @color5 5%,
    rgba(0, 255, 255, 0) 5.1%
  );
}
#custom-mediaplayer.perc6-0 {
  background-image: linear-gradient(
    to right,
    @color5 6%,
    rgba(0, 255, 255, 0) 6.1%
  );
}
#custom-mediaplayer.perc7-0 {
  background-image: linear-gradient(
    to right,
    @color5 7%,
    rgba(0, 255, 255, 0) 7.1%
  );
}
#custom-mediaplayer.perc8-0 {
  background-image: linear-gradient(
    to right,
    @color5 8%,
    rgba(0, 255, 255, 0) 8.1%
  );
}
#custom-mediaplayer.perc9-0 {
  background-image: linear-gradient(
    to right,
    @color5 9%,
    rgba(0, 255, 255, 0) 9.1%
  );
}
#custom-mediaplayer.perc10-0 {
  background-image: linear-gradient(
    to right,
    @color5 10%,
    rgba(0, 255, 255, 0) 10.1%
  );
}
#custom-mediaplayer.perc11-0 {
  background-image: linear-gradient(
    to right,
    @color5 11%,
    rgba(0, 255, 255, 0) 11.1%
  );
}
#custom-mediaplayer.perc12-0 {
  background-image: linear-gradient(
    to right,
    @color5 12%,
    rgba(0, 255, 255, 0) 12.1%
  );
}
#custom-mediaplayer.perc13-0 {
  background-image: linear-gradient(
    to right,
    @color5 13%,
    rgba(0, 255, 255, 0) 13.1%
  );
}
#custom-mediaplayer.perc14-0 {
  background-image: linear-gradient(
    to right,
    @color5 14%,
    rgba(0, 255, 255, 0) 14.1%
  );
}
#custom-mediaplayer.perc15-0 {
  background-image: linear-gradient(
    to right,
    @color5 15%,
    rgba(0, 255, 255, 0) 15.1%
  );
}
#custom-mediaplayer.perc16-0 {
  background-image: linear-gradient(
    to right,
    @color5 16%,
    rgba(0, 255, 255, 0) 16.1%
  );
}
#custom-mediaplayer.perc17-0 {
  background-image: linear-gradient(
    to right,
    @color5 17%,
    rgba(0, 255, 255, 0) 17.1%
  );
}
#custom-mediaplayer.perc18-0 {
  background-image: linear-gradient(
    to right,
    @color5 18%,
    rgba(0, 255, 255, 0) 18.1%
  );
}
#custom-mediaplayer.perc19-0 {
  background-image: linear-gradient(
    to right,
    @color5 19%,
    rgba(0, 255, 255, 0) 19.1%
  );
}
#custom-mediaplayer.perc20-0 {
  background-image: linear-gradient(
    to right,
    @color5 20%,
    rgba(0, 255, 255, 0) 20.1%
  );
}
#custom-mediaplayer.perc21-0 {
  background-image: linear-gradient(
    to right,
    @color5 21%,
    rgba(0, 255, 255, 0) 21.1%
  );
}
#custom-mediaplayer.perc22-0 {
  background-image: linear-gradient(
    to right,
    @color5 22%,
    rgba(0, 255, 255, 0) 22.1%
  );
}
#custom-mediaplayer.perc23-0 {
  background-image: linear-gradient(
    to right,
    @color5 23%,
    rgba(0, 255, 255, 0) 23.1%
  );
}
#custom-mediaplayer.perc24-0 {
  background-image: linear-gradient(
    to right,
    @color5 24%,
    rgba(0, 255, 255, 0) 24.1%
  );
}
#custom-mediaplayer.perc25-0 {
  background-image: linear-gradient(
    to right,
    @color5 25%,
    rgba(0, 255, 255, 0) 25.1%
  );
}
#custom-mediaplayer.perc26-0 {
  background-image: linear-gradient(
    to right,
    @color5 26%,
    rgba(0, 255, 255, 0) 26.1%
  );
}
#custom-mediaplayer.perc27-0 {
  background-image: linear-gradient(
    to right,
    @color5 27%,
    rgba(0, 255, 255, 0) 27.1%
  );
}
#custom-mediaplayer.perc28-0 {
  background-image: linear-gradient(
    to right,
    @color5 28%,
    rgba(0, 255, 255, 0) 28.1%
  );
}
#custom-mediaplayer.perc29-0 {
  background-image: linear-gradient(
    to right,
    @color5 29%,
    rgba(0, 255, 255, 0) 29.1%
  );
}
#custom-mediaplayer.perc30-0 {
  background-image: linear-gradient(
    to right,
    @color5 30%,
    rgba(0, 255, 255, 0) 30.1%
  );
}
#custom-mediaplayer.perc31-0 {
  background-image: linear-gradient(
    to right,
    @color5 31%,
    rgba(0, 255, 255, 0) 31.1%
  );
}
#custom-mediaplayer.perc32-0 {
  background-image: linear-gradient(
    to right,
    @color5 32%,
    rgba(0, 255, 255, 0) 32.1%
  );
}
#custom-mediaplayer.perc33-0 {
  background-image: linear-gradient(
    to right,
    @color5 33%,
    rgba(0, 255, 255, 0) 33.1%
  );
}
#custom-mediaplayer.perc34-0 {
  background-image: linear-gradient(
    to right,
    @color5 34%,
    rgba(0, 255, 255, 0) 34.1%
  );
}
#custom-mediaplayer.perc35-0 {
  background-image: linear-gradient(
    to right,
    @color5 35%,
    rgba(0, 255, 255, 0) 35.1%
  );
}
#custom-mediaplayer.perc36-0 {
  background-image: linear-gradient(
    to right,
    @color5 36%,
    rgba(0, 255, 255, 0) 36.1%
  );
}
#custom-mediaplayer.perc37-0 {
  background-image: linear-gradient(
    to right,
    @color5 37%,
    rgba(0, 255, 255, 0) 37.1%
  );
}
#custom-mediaplayer.perc38-0 {
  background-image: linear-gradient(
    to right,
    @color5 38%,
    rgba(0, 255, 255, 0) 38.1%
  );
}
#custom-mediaplayer.perc39-0 {
  background-image: linear-gradient(
    to right,
    @color5 39%,
    rgba(0, 255, 255, 0) 39.1%
  );
}
#custom-mediaplayer.perc40-0 {
  background-image: linear-gradient(
    to right,
    @color5 40%,
    rgba(0, 255, 255, 0) 40.1%
  );
}
#custom-mediaplayer.perc41-0 {
  background-image: linear-gradient(
    to right,
    @color5 41%,
    rgba(0, 255, 255, 0) 41.1%
  );
}
#custom-mediaplayer.perc42-0 {
  background-image: linear-gradient(
    to right,
    @color5 42%,
    rgba(0, 255, 255, 0) 42.1%
  );
}
#custom-mediaplayer.perc43-0 {
  background-image: linear-gradient(
    to right,
    @color5 43%,
    rgba(0, 255, 255, 0) 43.1%
  );
}
#custom-mediaplayer.perc44-0 {
  background-image: linear-gradient(
    to right,
    @color5 44%,
    rgba(0, 255, 255, 0) 44.1%
  );
}
#custom-mediaplayer.perc45-0 {
  background-image: linear-gradient(
    to right,
    @color5 45%,
    rgba(0, 255, 255, 0) 45.1%
  );
}
#custom-mediaplayer.perc46-0 {
  background-image: linear-gradient(
    to right,
    @color5 46%,
    rgba(0, 255, 255, 0) 46.1%
  );
}
#custom-mediaplayer.perc47-0 {
  background-image: linear-gradient(
    to right,
    @color5 47%,
    rgba(0, 255, 255, 0) 47.1%
  );
}
#custom-mediaplayer.perc48-0 {
  background-image: linear-gradient(
    to right,
    @color5 48%,
    rgba(0, 255, 255, 0) 48.1%
  );
}
#custom-mediaplayer.perc49-0 {
  background-image: linear-gradient(
    to right,
    @color5 49%,
    rgba(0, 255, 255, 0) 49.1%
  );
}
#custom-mediaplayer.perc50-0 {
  background-image: linear-gradient(
    to right,
    @color5 50%,
    rgba(0, 255, 255, 0) 50.1%
  );
}
#custom-mediaplayer.perc51-0 {
  background-image: linear-gradient(
    to right,
    @color5 51%,
    rgba(0, 255, 255, 0) 51.1%
  );
}
#custom-mediaplayer.perc52-0 {
  background-image: linear-gradient(
    to right,
    @color5 52%,
    rgba(0, 255, 255, 0) 52.1%
  );
}
#custom-mediaplayer.perc53-0 {
  background-image: linear-gradient(
    to right,
    @color5 53%,
    rgba(0, 255, 255, 0) 53.1%
  );
}
#custom-mediaplayer.perc54-0 {
  background-image: linear-gradient(
    to right,
    @color5 54%,
    rgba(0, 255, 255, 0) 54.1%
  );
}
#custom-mediaplayer.perc55-0 {
  background-image: linear-gradient(
    to right,
    @color5 55%,
    rgba(0, 255, 255, 0) 55.1%
  );
}
#custom-mediaplayer.perc56-0 {
  background-image: linear-gradient(
    to right,
    @color5 56%,
    rgba(0, 255, 255, 0) 56.1%
  );
}
#custom-mediaplayer.perc57-0 {
  background-image: linear-gradient(
    to right,
    @color5 57%,
    rgba(0, 255, 255, 0) 57.1%
  );
}
#custom-mediaplayer.perc58-0 {
  background-image: linear-gradient(
    to right,
    @color5 58%,
    rgba(0, 255, 255, 0) 58.1%
  );
}
#custom-mediaplayer.perc59-0 {
  background-image: linear-gradient(
    to right,
    @color5 59%,
    rgba(0, 255, 255, 0) 59.1%
  );
}
#custom-mediaplayer.perc60-0 {
  background-image: linear-gradient(
    to right,
    @color5 60%,
    rgba(0, 255, 255, 0) 60.1%
  );
}
#custom-mediaplayer.perc61-0 {
  background-image: linear-gradient(
    to right,
    @color5 61%,
    rgba(0, 255, 255, 0) 61.1%
  );
}
#custom-mediaplayer.perc62-0 {
  background-image: linear-gradient(
    to right,
    @color5 62%,
    rgba(0, 255, 255, 0) 62.1%
  );
}
#custom-mediaplayer.perc63-0 {
  background-image: linear-gradient(
    to right,
    @color5 63%,
    rgba(0, 255, 255, 0) 63.1%
  );
}
#custom-mediaplayer.perc64-0 {
  background-image: linear-gradient(
    to right,
    @color5 64%,
    rgba(0, 255, 255, 0) 64.1%
  );
}
#custom-mediaplayer.perc65-0 {
  background-image: linear-gradient(
    to right,
    @color5 65%,
    rgba(0, 255, 255, 0) 65.1%
  );
}
#custom-mediaplayer.perc66-0 {
  background-image: linear-gradient(
    to right,
    @color5 66%,
    rgba(0, 255, 255, 0) 66.1%
  );
}
#custom-mediaplayer.perc67-0 {
  background-image: linear-gradient(
    to right,
    @color5 67%,
    rgba(0, 255, 255, 0) 67.1%
  );
}
#custom-mediaplayer.perc68-0 {
  background-image: linear-gradient(
    to right,
    @color5 68%,
    rgba(0, 255, 255, 0) 68.1%
  );
}
#custom-mediaplayer.perc69-0 {
  background-image: linear-gradient(
    to right,
    @color5 69%,
    rgba(0, 255, 255, 0) 69.1%
  );
}
#custom-mediaplayer.perc70-0 {
  background-image: linear-gradient(
    to right,
    @color5 70%,
    rgba(0, 255, 255, 0) 70.1%
  );
}
#custom-mediaplayer.perc71-0 {
  background-image: linear-gradient(
    to right,
    @color5 71%,
    rgba(0, 255, 255, 0) 71.1%
  );
}
#custom-mediaplayer.perc72-0 {
  background-image: linear-gradient(
    to right,
    @color5 72%,
    rgba(0, 255, 255, 0) 72.1%
  );
}
#custom-mediaplayer.perc73-0 {
  background-image: linear-gradient(
    to right,
    @color5 73%,
    rgba(0, 255, 255, 0) 73.1%
  );
}
#custom-mediaplayer.perc74-0 {
  background-image: linear-gradient(
    to right,
    @color5 74%,
    rgba(0, 255, 255, 0) 74.1%
  );
}
#custom-mediaplayer.perc75-0 {
  background-image: linear-gradient(
    to right,
    @color5 75%,
    rgba(0, 255, 255, 0) 75.1%
  );
}
#custom-mediaplayer.perc76-0 {
  background-image: linear-gradient(
    to right,
    @color5 76%,
    rgba(0, 255, 255, 0) 76.1%
  );
}
#custom-mediaplayer.perc77-0 {
  background-image: linear-gradient(
    to right,
    @color5 77%,
    rgba(0, 255, 255, 0) 77.1%
  );
}
#custom-mediaplayer.perc78-0 {
  background-image: linear-gradient(
    to right,
    @color5 78%,
    rgba(0, 255, 255, 0) 78.1%
  );
}
#custom-mediaplayer.perc79-0 {
  background-image: linear-gradient(
    to right,
    @color5 79%,
    rgba(0, 255, 255, 0) 79.1%
  );
}
#custom-mediaplayer.perc80-0 {
  background-image: linear-gradient(
    to right,
    @color5 80%,
    rgba(0, 255, 255, 0) 80.1%
  );
}
#custom-mediaplayer.perc81-0 {
  background-image: linear-gradient(
    to right,
    @color5 81%,
    rgba(0, 255, 255, 0) 81.1%
  );
}
#custom-mediaplayer.perc82-0 {
  background-image: linear-gradient(
    to right,
    @color5 82%,
    rgba(0, 255, 255, 0) 82.1%
  );
}
#custom-mediaplayer.perc83-0 {
  background-image: linear-gradient(
    to right,
    @color5 83%,
    rgba(0, 255, 255, 0) 83.1%
  );
}
#custom-mediaplayer.perc84-0 {
  background-image: linear-gradient(
    to right,
    @color5 84%,
    rgba(0, 255, 255, 0) 84.1%
  );
}
#custom-mediaplayer.perc85-0 {
  background-image: linear-gradient(
    to right,
    @color5 85%,
    rgba(0, 255, 255, 0) 85.1%
  );
}
#custom-mediaplayer.perc86-0 {
  background-image: linear-gradient(
    to right,
    @color5 86%,
    rgba(0, 255, 255, 0) 86.1%
  );
}
#custom-mediaplayer.perc87-0 {
  background-image: linear-gradient(
    to right,
    @color5 87%,
    rgba(0, 255, 255, 0) 87.1%
  );
}
#custom-mediaplayer.perc88-0 {
  background-image: linear-gradient(
    to right,
    @color5 88%,
    rgba(0, 255, 255, 0) 88.1%
  );
}
#custom-mediaplayer.perc89-0 {
  background-image: linear-gradient(
    to right,
    @color5 89%,
    rgba(0, 255, 255, 0) 89.1%
  );
}
#custom-mediaplayer.perc90-0 {
  background-image: linear-gradient(
    to right,
    @color5 90%,
    rgba(0, 255, 255, 0) 90.1%
  );
}
#custom-mediaplayer.perc91-0 {
  background-image: linear-gradient(
    to right,
    @color5 91%,
    rgba(0, 255, 255, 0) 91.1%
  );
}
#custom-mediaplayer.perc92-0 {
  background-image: linear-gradient(
    to right,
    @color5 92%,
    rgba(0, 255, 255, 0) 92.1%
  );
}
#custom-mediaplayer.perc93-0 {
  background-image: linear-gradient(
    to right,
    @color5 93%,
    rgba(0, 255, 255, 0) 93.1%
  );
}
#custom-mediaplayer.perc94-0 {
  background-image: linear-gradient(
    to right,
    @color5 94%,
    rgba(0, 255, 255, 0) 94.1%
  );
}
#custom-mediaplayer.perc95-0 {
  background-image: linear-gradient(
    to right,
    @color5 95%,
    rgba(0, 255, 255, 0) 95.1%
  );
}
#custom-mediaplayer.perc96-0 {
  background-image: linear-gradient(
    to right,
    @color5 96%,
    rgba(0, 255, 255, 0) 96.1%
  );
}
#custom-mediaplayer.perc97-0 {
  background-image: linear-gradient(
    to right,
    @color5 97%,
    rgba(0, 255, 255, 0) 97.1%
  );
}
#custom-mediaplayer.perc98-0 {
  background-image: linear-gradient(
    to right,
    @color5 98%,
    rgba(0, 255, 255, 0) 98.1%
  );
}
#custom-mediaplayer.perc99-0 {
  background-image: linear-gradient(
    to right,
    @color5 99%,
    rgba(0, 255, 255, 0) 99.1%
  );
}
#custom-mediaplayer.perc100-0 {
  background-image: linear-gradient(
    to right,
    @color5 100%,
    rgba(0, 255, 255, 0) 100.1%
  );
}
